julia/*.sbatch
.ipynb_checkpoints/
__pycache__
.done
julia/run.sbatch
julia/runs
analysis/data
.tmp/
julia/scratch.jl
analysis/figs/
analysis/figs1/
julia/out/
krajbich_NatNeu_2010/
julia/tmp/
julia/figs/
julia/human_trials.jls
julia/scratch_plots.jl
