# julia/*.sbatch
.ipynb_checkpoints/
__pycache__
.done
julia/run.sbatch
julia/runs
analysis/data
.tmp/
julia/scratch.jl
analysis/figs/
analysis/figs1/
julia/out/
krajbich_NatNeu_2010/
julia/tmp/
julia/figs/
julia/human_trials.jls
julia/scratch_plots.jl
mcts_julia/
julia/sync.sh
julia/run_multi.jl
julia/fits.txt
julia/old_fits.txt
julia/plots_scratch.jl
julia/data/
julia/tex/
julia/notes.txt
julia/policy_npy/
julia/results/
julia/scratch/
